################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PasswordManager - Source Code/.vs/PasswordManager/FileContentIndex

/PasswordManager - Source Code/obj/*

